<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task Deleted</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      text-align: center;
    }
    .container {
      max-width: 80%;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      margin-top: 50px;
    }
    h2 {
      color: #333;
    }
    .btn {
      display: block;
      width: 60%;
      max-width: 200px;
      margin: 10px auto;
      padding: 10px 20px;
      background-color: #4CAF50;
      color: #fff;
      text-decoration: none;
      border-radius: 5px;
    }
    .btn:hover {
      background-color: #45a049;
    }

    @media (max-width: 768px) {
      .btn {
        width: 80%;
      }
    }
  </style>
  
</head>
<body>
  <div class="container">
    <h2>Task Deleted!</h2>
    <p>Your task has been deleted. Check deleted tasks to restore (click on the status button) or permanently delete tasks.</p>
    <a class="btn" href="/views/tasks">All Tasks</a>
    <a class="btn" href="/views/taskspending">Pending Tasks</a>
    <a class="btn" href="/views/taskscompleted">Completed Tasks</a>
  </div>

  <footer>
    <%- include('./partials/footer'); %>
  </footer>


</body>
</html>
